# Executables
*.exe
*.out
*.app

# VS
.vs

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
TalkToMeCPP/logfile.txt

#build
x64
TalkToMeCPP/x64
TalkToMeCPP/Release
TalkToMeCPP/vcpkg_installed

TalkToMeCPP_Tests/x64
TalkToMeCPP_Tests/Release
TalkToMeCPP_Tests/vcpkg_installed