# Executables
*.exe
*.out
*.app

# VS
TalkToMeCPP/.vs
TalkToMeCPP/x64/Debug
TalkToMeCPP/TalkToMeCPP/x64/Debug

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
TalkToMeCPP/logfile.txt
